{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Build A Scalable VC Application">
    <meta name="keywords" content="Video Call, Agora, Django, WebSockets">
    <meta name="author" content="Anurag Kar">
    
    <link   
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous">

    <link 
        rel="stylesheet"
        type="text/css"
        href="{% static 'agora/index.css' %}">

    <script src="https://cdn.agora.io/sdk/release/AgoraRTCSDK-3.3.1.js"></script>
    <title>Django Video Chat App</title>
</head>
<body>
    
    <main id="app">
        <main>

            <!-- APP LOGO -->
            <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                <img
                    src="{% static 'agora/agora-logo.png' %}"
                    alt="Agora Logo"
                    class="block img-fuild"/>
                </div>
            </div>
            </div>
            <!-- END APP LOGO -->

            <!-- CALL USER BUTTON -->
            <div class="container my-5">
                <div class="row">
                    <div class="col">
                        <div class="btn-group" role="group">
                            {% for single_user in all_user %}
                                <button type="button" class="btn btn-primary mr-2" @click="place_call('{{single_user.id}}', '{{single_user}}')">
                                    Call {{ single_user }}
                                    <span class="badge badge-light">${ get_user_onlin_status{{ single_user.ud }}}</span>
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CALL USER BUTTON -->

            <!-- INCOMING CALL BUTTON -->
            <div class="row my-5" v-if="incomming_call">
                <div class="col-12">
                    <p>Incoming call from <b>${incoming_caller}</b></p>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="decline_call">
                            Decline
                        </button>
                        <button type="button" class="btn btn-success ml-5" @click="accept_call">
                            Accept
                        </button>
                    </div>
                </div>
            </div>
            <!-- END INCOMING CALL BUTTON -->

            <!-- CALL ADDITONAL FUNCTIONS -->
            <section id="video-container" v-if="call_placed">
                <div class="action-bts">
                    <button type="button", class="btn btn-info" @click="handle_audio_toggle">
                        ${ muted_audio ? "Unmute" : "Mute" }
                    </button>
                    <button type="button" class="btn btn-primary mx-4" @click="handle_video_toggle">
                        ${ muted_video ? "Show_video" : "hide_video"}
                    </button>
                    <button type="button" class="btn btn-danger" @click="end_call">
                        End Call
                    </button>
                </div>
            </section>
            <!-- END CALL ADDITONAL FUNCTIONS -->

        </main>
    </main>

    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/7.0.3/pusher.min.js"></script>
    <script>
        window.pusher = new Pusher(
            "9acea8d07e39f602de2a",
            {
                auth_endpoint: "{% url 'pusher-auth' %}",
                auth: {
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    }
                }
            }
        );

        const auth_user = "{{ user }}"
        const auth_user_id = "{{ request.user.id }}"
        const csrf_token = "{{ csrf_token }}"
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static 'agora/index.js' %}"></script>

</body>
</html>